<div class="row" style="font-family: BalsamiqSans; color: rgb(255, 255, 255); padding-top: 0px; opacity: 1;" [@routerTransition]>
  <div class="col-md-4 col-sm-6 col-12 column-body">
    <div class="card" style="background-color: #468dd2;">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <h4 class="card-title" style="margin-bottom: 2px;">Total Pharmacist</h4>
          <mat-icon role="img" class="mat-icon">person_add</mat-icon>
        </div>
        <h3 style="margin-bottom: 0px;">120</h3>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 col-12 column-body">
    <div class="card" style="background-color: #62cf62;">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <h4 class="card-title" style="margin-bottom: 2px;">Total Medicines</h4>
          <mat-icon class="mat-icon">medical_services</mat-icon>
        </div>
        <h3 style="margin-bottom: 0px;">120</h3>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 col-12 column-body ">
    <div class="card " style="background-color: #eeb24f;">
      <div class="card-body ">
        <div class="d-flex justify-content-between ">
          <h4 class="card-title " style="margin-bottom: 2px;">Total Companies</h4>
          <mat-icon role="img" class="mat-icon notranslate  material-icons mat-icon-no-color" aria-hidden="true">business</mat-icon>
        </div>
        <h3 style="margin-bottom: 0px;">120</h3>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 col-12 column-body ">
    <div  class="card " style="background-color: crimson;">
      <div  class="card-body ">
        <div  class="d-flex justify-content-between ">
          <h4  class="card-title " style="margin-bottom: 2px;">Total Sales</h4>
          <mat-icon  role="img" class="mat-icon notranslate  material-icons mat-icon-no-color" aria-hidden="true">attach_money</mat-icon>
        </div>
        <h3  style="margin-bottom: 0px;" class="">120</h3>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 col-12 column-body ">
    <div  class="card " style="background-color: #62cf62;">
      <div  class="card-body ">
        <div  class="d-flex justify-content-between ">
          <h4  class="card-title " style="margin-bottom: 2px;">Weekly Sales</h4>
          <mat-icon  role="img" class="mat-icon notranslate  material-icons mat-icon-no-color" aria-hidden="true">attach_money</mat-icon>
        </div>
        <h3  style="margin-bottom: 0px;" class="">120</h3>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 col-12 column-body ">
    <div class="card " style="background-color: #62cf62;">
      <div class="card-body ">
        <div class="d-flex justify-content-between ">
          <h4 class="card-title " style="margin-bottom: 2px;">Daily Sales</h4>
          <mat-icon class="mat-icon">attach_money</mat-icon>
        </div>
        <h3 style="margin-bottom: 0px;" >120</h3>
      </div>
    </div>
  </div>
</div>

<div [busy]="false" class="table-content">
  <div class="table-responsive-lg table-wrapper">
    <table class="PMS-table table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Points</th>
          <th>Name</th>
          <th>Points</th>
          <th>Name</th>
          <th>Points</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>Dom</td>
        <td>6000</td>
        <td>Dom</td>
        <td>6000</td>
        <td>Dom</td>
        <td>6000</td>
      </tr>
      <tr class="active-row">
        <td>Melissa</td>
        <td>5150</td>
        <td>Melissa</td>
        <td>5150</td>
        <td>Melissa</td>
        <td>5150</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
