
<div class="app">
  <div class="sidebar">
    <nav class="sidebar-nav">
      <ul>
        <li>
          <a [routerLink]="['/app/home']" matRipple [matRippleColor]="'#FFFFFF50'" class="mat-ripple">
            <i>
              <mat-icon role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">home</mat-icon>
            </i>
            <span>home</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/app']" matRipple [matRippleColor]="'#FFFFFF50'" class="mat-ripple">
            <i>
              <mat-icon role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">assignment</mat-icon>
            </i>
            <span>Invoice Search</span>
          </a>
        </li>
        <li>
          <a matRipple [matRippleColor]="'#FFFFFF50'" class="mat-ripple">
            <i>
              <mat-icon role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">person</mat-icon>
            </i>
            <span>Inventory</span>
          </a>
        </li>
        <li>
          <a matRipple [matRippleColor]="'#FFFFFF50'" class="mat-ripple">
            <i>
              <mat-icon role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">business</mat-icon>
            </i>
            <span>Company</span>
          </a>
        </li>
        <li>
          <a matRipple [matRippleColor]="'#FFFFFF50'" class="mat-ripple">
            <i>
              <mat-icon role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">medical_services</mat-icon>
            </i>
            <span>Medicine</span>
          </a>
        </li>
        <li>
          <a matRipple [matRippleColor]="'#FFFFFF50'" class="mat-ripple">
            <i>
              <mat-icon role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">person_add</mat-icon>
            </i>
            <span>Pharmacist</span>
          </a>
        </li>
        <li>
          <a matRipple [matRippleColor]="'#FFFFFF50'" class="mat-ripple">
            <i>
              <mat-icon role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">article</mat-icon>
            </i>
            <span>Sales Report</span>
          </a>
        </li>
        <!---->
        <!---->
      </ul>
    </nav>
  </div>
</div>
