.app {
  font-size: 100%;
  height: calc(100% - var(--user-area-height));
  overflow-y: auto;
  font-family: inherit;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.sidebar-nav {
   position: fixed;
   background-color: initial;
   font-weight: 400;
   font-size: 1.2em;
   padding-bottom: 1em;
   z-index: 9;
   -webkit-overflow-scrolling: touch;
    overflow: auto;
 }

.sidebar, .sidebar-nav {
  width: 100%;
  height: 100%;
}

.sidebar {
  top: 0;
  overflow: hidden;
  background: transparent;
  -webkit-transform: translateZ(0);
  visibility: visible;
  -webkit-backface-visibility: hidden;
}


.sidebar-nav ul {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
  line-height: 30px;
}

.sidebar-nav ul li {
  margin-left: 0;
  padding-left: 0;
  display: inline-block;
  cursor: pointer;
  width: 100%;
}

.sidebar-nav ul li a {
  color: hsla(0,0%,100%,.9);
  padding: 1.05em 1em;
  position: relative;
  display: block;
}

.sidebar-nav ul li i {
  font-size: 1.8em;
  padding-right: .5em;
  width: 9em;
  display: inline;
  vertical-align: middle;
}


.sidebar-nav ul li a{
  text-decoration: none;
}

.sidebar-nav ul li a:hover {
  background-color: rgba(0,0,0,.9);
  transition: all .6s ease;
}
