/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: BalsamiqSans;
  src: url('assets/fonts/BalsamiqSans-Regular.ttf');
}

:root {
  --sidebar-width: 250px;
  --toolbar-height: 60px;
  --user-area-height: 200px;

  /*z-index values*/
  --z-index-highest: 10000000;
  --z-index-high: 1000000;
  --z-index-moderate: 100000;
  --z-index-medium: 10000;
  --z-index-low: 1000;
  --z-index-lowest: 100;
}

/*html, body { height: 100%; }*/
body { margin: 0; font-family: BalsamiqSans, Roboto, "Helvetica Neue", sans-serif; }


@media screen and (max-width: 1000px){
  .overlay-open #left-sidebar {
    margin-left: 0 !important;
  }
}

/*hamburger menu item*/
.overlay-icon #nav-icon span:nth-child(1) {
  top: 10px !important;
  -webkit-transform: rotate(135deg) !important;;
  -moz-transform: rotate(135deg) !important;;
  -o-transform: rotate(135deg) !important;;
  transform: rotate(135deg) !important;;
}
.overlay-icon #nav-icon span:nth-child(2) {
  opacity: 0 !important;;
  left: -60px !important;;
}
.overlay-icon #nav-icon span:nth-child(3) {
  top: 10px !important;;
  -webkit-transform: rotate(-135deg) !important;;
  -moz-transform: rotate(-135deg) !important;;
  -o-transform: rotate(-135deg) !important;;
  transform: rotate(-135deg) !important;;
}

/* loading spinner and body*/
.busy-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  opacity: 0.2;
  top: 0;
  background: #000000;
  width: 100%;
  height: 100%;
}
.ripple-loader {
  position: relative;
  width: 64px;
  height: 64px;
}
.ripple-loader div {
  position: absolute;
  border: 4px solid #FFFFFF;
  border-radius: 50%;
  animation: ripple-loader 0.8s ease-out infinite;
}
.ripple-loader div:nth-child(2) {
  animation-delay: -0.3s;
}
@keyframes ripple-loader {
  0% {
    top: 32px;
    left: 32px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  50% {
    opacity: 0.9;
  }
  80% {
    opacity: 0.7;
  }
  100% {
    top: 0;
    left: 0;
    width: 64px;
    height: 64px;
    opacity: 0;
  }
}

/*loading spinner version 2*/
.ripple{
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.2;
  width: 100%;
  height: 100%;
}

.ripple div {
  text-decoration: none;
  position: relative;
  top: 50%;
  color: #fff;
  width: 12px;
  height: 12px;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 100px;
  -webkit-animation: ripple 0.7s linear infinite;
  animation: ripple 0.7s linear infinite;
}

@-webkit-keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3), 0 0 0 10px rgba(255, 255, 255, 0.3), 0 0 0 30px rgba(255, 255, 255, 0.3), 0 0 0 60px rgba(255, 255, 255, 0.3);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.3), 0 0 0 30px rgba(255, 255, 255, 0.3), 0 0 0 60px rgba(255, 255, 255, 0.3), 0 0 0 90px rgba(0, 255, 255, 0);
  }
}
@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2), 0 0 0 10px rgba(255, 255, 255, 0.5), 0 0 0 30px rgba(255, 255, 255, 0.5), 0 0 0 60px rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.2), 0 0 0 30px rgba(255, 255, 255, 0.5), 0 0 0 60px rgba(255, 255, 255, 0.5), 0 0 0 90px rgba(0, 255, 255, 0);
  }
}

/*table styling*/
