<div class="user-info">
  <div>
    <img src="assets/images/avatar.png" />
    <div class="mt-2">
      <p>{{username}}</p>
      <p>{{name}}</p>  
    </div>
  </div>
  <!--  <div class="icon">-->
  <!--    <mat-icon matRipple [matRippleColor]="'#FFFFFF50'">keyboard_arrow_down</mat-icon>-->
  <!--    <ul class="pms-dropdown-menu">-->
  <!--      <li matRipple [matRippleColor]="'#FFFFFF50'"><a><i class="material-icons">lock</i><span>Update Password</span></a></li>-->
  <!--      <li matRipple [matRippleColor]="'#FFFFFF50'"><a><i class="material-icons">input</i><span>{{ 'Logout' }}</span></a></li>-->
  <!--    </ul>-->
  <!--  </div>-->

  <div class="menu">
    <app-dropdown-menu>
      <i matRipple [matRippleColor]="'#FFFFFF50'" #icon class="material-icons">keyboard_arrow_down</i>
      <ul #menu>
        <li matRipple [routerLink]="['/app/update-password']" [matRippleColor]="'#FFFFFF50'"><a><i class="material-icons">lock</i><span>Update Password</span></a></li>
        <li matRipple [matRippleColor]="'#FFFFFF50'" (click)="logout($event)"><a><i class="material-icons">input</i><span>{{ 'Logout' }}</span></a></li>
      </ul>
    </app-dropdown-menu>
  </div>

</div>
